@page
@model IndexModel
 @{

 }

 <a asp-page="CreateCarrera" class="btn btn-success mb-3">Agregar carrera</a>
@if (Model.Carreras.Count == 0)
    {
        <p class="text-muted">No hay carreras cargadas </p>
    }
    else { 
<h2>Listado de Carreras</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Modalidad</th>
            <th>Duración (años)</th>
            <th>Título otorgado</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var carrera in Model.Carreras)
        {
            <tr>
                <td>@carrera.Id</td>
                <td>@carrera.Nombre</td>
                <td>@carrera.Modalidad</td>
                <td>@carrera.DuracionAnios</td>
                <td>@carrera.TituloOtorgado</td>

                    <td>
                        <a asp-page="EditCarrera" asp-route-id="@carrera.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-page="DeleteCarrera" asp-route-id="@carrera.Id" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
}